@using ICFAIClone.Models.Entities
@model List<ICFAIClone.Models.Entities.Student>

<div class="container my-5">
    <h3 class="mb-4 text-primary">Student List</h3>

    <div class="table-responsive">
        <table class="table table-bordered table-striped align-middle">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Full Name</th>
                    <th scope="col">Roll Number</th>
                    <th scope="col">Email</th>
                    <th scope="col">Course</th>
                    <th scope="col">Date of Birth</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var student in Model)
                {
                    <tr>
                        <td>@student.FullName</td>
                        <td>@student.EnrollmentNumber</td>
                        <td>@student.Email</td>
                        <td>@student.Course</td>
                        <td>@student.DateOfBirth</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
